name: 'Build Test'

on:
  push:
    branches:
      - '**'

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Running Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      # Actual Tests
      - run: npm i
      - run: npm run lint --if-present
      - run: npm run typecheck --if-present
      - run: npm run bundle --if-present
      - run: npm run test --if-present
